@font-face {
    font-family: 'RocGrotesk-Regular';
    src: url('RocGrotesk-Regular.woff2') format('woff2'),
        url('RocGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

